{% extends '@SyliusAdmin/Product/index.html.twig' %}

{% block header %}
    <h1 class="ui header">
        <i class="cube icon"></i>
        {{ 'sylius.ui.products'|trans }}
    </h1>
{% endblock %}
